#body-def {
	background-color: #77aaaa;
}
.form-nav{
	margin-left: 10px !important;
}
#id-logo {
	font-size:    thin  !important;
	color: #fffde7 ;
}

#registration-css {
	background-color: #c8e6c9 !important;
	border-radius: 10px;
}